
@font-face {
    font-family: titleFont;
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: Outfit;
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

body {
    --bg-color: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);


    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 120px;
    background-color: var(--bg-color);
    font-family: Outfit, sans-serif;
    font-size: 1rem;
    color: var(--stone-600);
}

article {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 54%;
    background-color: white;
    padding: 40px 40px 5px;
    border-radius: 1em;
}

h1 {
    font-family: titleFont, sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    margin: 30px 0 15px;
    color: var(--stone-900);
    line-height: 1;
}

section {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--stone-150);
}

section:last-of-type {
    border-bottom: none;
}

section h1 {
    font-size: 1.8em;
    color: var(--brown-800);
}

h2 {
    color: var(--rose-800);
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
}

img {
    border-radius: 1rem;
}

p {
    margin: 0;
}

ul, ol {
    padding-inline-start: 25px;
}

ul li::marker {
    font-size: .75em;
}

ol li::marker {
    font-weight: 700;
    color: var(--brown-800);
}

li {
    padding: 5px 0px 5px 15px;
}

li span {
    font-weight: 700;
}

.preparation-time {
    background-color: var(--rose-50);
    border-radius: 1rem;
    margin-top: 30px;
    padding: 30px 30px 10px 30px;
}

.ingredients ul {
    list-style-type: square;
}

.nutrition ul {
    list-style: none;
    padding-inline-start: 0;
    margin-bottom: 0;
}

.nutrition li {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50%;
    border-bottom: 1px solid var(--stone-150);
    padding: 15px 30px;
}

.nutrition li:last-of-type {
    border-bottom: none;
}

.nutrition span {
    color: var(--brown-800);
}

@media screen and (max-width: 768px) {
    body {
        margin: 0;
    }

    article {
        min-width: -webkit-fill-available;
        padding: 0;
    }

    img {
        border-radius: initial;
    }

    .content {
        width: 83%;
        margin: auto;
    }

    h1 {
        font-size: 2.25em;
    }
}